= simple_form_for :post_comment, url: post_comments_path(@post), method: 'POST' do |f|
    = f.input :content, as: :text, label: false
    = f.button :submit, value: t('comment.add'), class: 'btn btn-primary mt-3'
